.pane{
    -fx-background-image: url("./images/carbonfoot.jpg");
    -fx-background-repeat: stretch;
    -fx-background-color: blue;
    -fx-background-size: 600 550;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}